/* Estilos generales de los botones */
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* Estilos específicos del botón de "Me gusta" */
.like-button {
  color: #000;
}

.like-icon {
  margin-right: 5px;
}

.like-count {
  font-weight: bold;
}

